In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store CSV from part 1 into DataFrame
city_data_df = pd.read_csv("Weather Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mar Del Plata,AR,2022-05-01 11:25:22,-38.0023,-57.5575,48.22,86,20,10.00
1,1,Port Alfred,ZA,2022-05-01 11:25:23,-33.5906,26.8910,71.19,57,52,5.99
2,2,Khurai,IN,2022-05-01 11:25:24,24.0436,78.3319,106.75,11,29,10.47
3,3,Alakurtti,RU,2022-05-01 11:25:25,66.9672,30.3491,36.95,50,77,8.52
4,4,Bokoro,TD,2022-05-01 11:25:27,12.3807,17.0568,105.64,19,90,8.10

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the max temp
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get lat and lng
locations = city_data_df[["Lat", "Lng"]]

# Get max temp
max_temp = city_data_df["Max Temp"]

# Assign figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add heatmap layer
fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap for wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask customer to add a min and max temp value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter dataset to find cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Butaritari,KI,2022-05-01 11:25:32,3.0707,172.7902,80.96,81,93,12.06
11,11,Tuy Hoa,VN,2022-05-01 11:25:33,13.0833,109.3000,81.30,81,89,10.47
14,14,Hithadhoo,MV,2022-05-01 11:25:36,-0.6000,73.0833,85.53,71,54,15.73
16,16,Muisne,EC,2022-05-01 11:25:39,0.6000,-80.0333,75.83,86,100,5.88
27,27,Bambous Virieux,MU,2022-05-01 11:25:52,-20.3428,57.7575,82.22,74,75,8.05
30,30,Kapoeta,SS,2022-05-01 11:25:55,4.7717,33.5903,89.85,41,100,14.67
31,31,Takoradi,GH,2022-05-01 11:24:39,4.8845,-1.7554,85.17,69,89,6.80
34,34,Luangwa,ZM,2022-05-01 11:25:59,-15.6167,30.4167,87.37,34,0,8.19
37,37,Kavaratti,IN,2022-05-01 11:26:02,10.5669,72.6420,85.93,70,82,14.20
40,40,Manggar,ID,2022-05-01 11:26:05,-2.8833,108.2667,83.79,74,99,5.53

In [12]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
9        Butaritari      KI     80.96   3.0707  172.7902
11          Tuy Hoa      VN     81.30  13.0833  109.3000
14        Hithadhoo      MV     85.53  -0.6000   73.0833
16           Muisne      EC     75.83   0.6000  -80.0333
27  Bambous Virieux      MU     82.22 -20.3428   57.7575
30          Kapoeta      SS     89.85   4.7717   33.5903
31         Takoradi      GH     85.17   4.8845   -1.7554
34          Luangwa      ZM     87.37 -15.6167   30.4167
37        Kavaratti      IN     85.93  10.5669   72.6420
40          Manggar      ID     83.79  -2.8833  108.2667

In [14]:
# Set parameters for hotel search
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get lat and lng
    lat = row["Lat"]
    lng = row["Lng"]

    # Add lat and lng to location key for params dictionary
    params["location"] = f"{lat},{lng}"

    # Use search term: "lodging" and the lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab first hotel from results and store name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Butaritari,KI,80.96,3.0707,172.7902,Isles Sunset Lodge
11,Tuy Hoa,VN,81.30,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
14,Hithadhoo,MV,85.53,-0.6000,73.0833,Scoop Guest House
16,Muisne,EC,75.83,0.6000,-80.0333,Quinta Samay
27,Bambous Virieux,MU,82.22,-20.3428,57.7575,Casa Tia Villa
30,Kapoeta,SS,89.85,4.7717,33.5903,Eastgate Hotel
31,Takoradi,GH,85.17,4.8845,-1.7554,Raybow International Hotel
34,Luangwa,ZM,87.37,-15.6167,30.4167,Gerasimos Safari Lodge
37,Kavaratti,IN,85.93,10.5669,72.6420,Hotels in Lakshadweep Islands
40,Manggar,ID,83.79,-2.8833,108.2667,Guest Hotel

In [20]:
# Add heatmap of temperature for vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add heatmap of temp for vacation spots and pop-up markers for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))